{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Our Vision</h1>
		<p class = "lead">Inspired by "Little Free Libraries" of Portland, Oregon, we devleoped a platform where book lovers can track who is reading their copy of their favorite book.</p>
		<hr class="my-4">
		<p>The idea is simple - each physical copy you wish to register with us has its own page where only the people who have carried YOUR copy of the book can contribute. The page is for discussing favorite sections, asking questions, and making friendly conversation about the book. To track your book, a QR code sticker is placed on the book, and when this sticker is scanned with a phone, it redirects to the page for your book! To avoid spoilers, every "comment" is filtered by the page number associated with the contribution. This way, readers only see the discussion leading up to where they are in the book.</p>
		<hr class="my-4">
		<p>You can pass your book around to your friends, or let it loose in the world. The choice is yours!</p>
		<div class="btn-group">
			<a href="/register" class="btn btn-primary btn-md">Get Started!</a>
		</div>




	</div>
{% endblock %}